/*
    TODO SM 10Jun13: Replace with SCSS etc.
    TODO Responsive, mobile-first.
*/

/* Pure overrides */

.pure-g > div, .pure-g-r > div {
    box-sizing: border-box;
}

pre {
    font-size: 0.8em;
}

/* App css */

body {
    background-color: #eee;
    margin: 10px;
}

.m-searchBox {
    margin-top: 25px;
}

.l-outerContainer {
    margin: auto;
}

.todoListItem {
    margin-bottom: 5px;
}

.todoListItem .dueDate {
    color: #666;
    font-style: italic;
}

.sidebar {
    padding-left: 10px;
}
