<div ng-controller="TodoListController">

    <h3>Todo Today</h3>

    <div class="pure-g-r">
        <div class="pure-u-1">
            Sort by:
            <select ng-model="orderProp">
                <option value="preferredOrder">Preferred order</option>
                <option value="dueDate">Due date</option>
            </select>
        </div>
    </div>

    <div class="pure-g-r">
        <div class="pure-u-1">

            <ul>
                <li class="todoListItem" ng-repeat="todo in todoList | filter:query.text | orderBy:orderProp">
                    <div>
                        <a ng-href="/todo/{{ todo.id }}">
                            <span class="preferredOrder">#{{ todo.preferredOrder + 1 }}</span>
                            <span class="title">{{ todo.title }}</span>
                        </a>
                    </div>
                    <div class="dueDate">Due: {{ todo.dueDate }}</i></div>
                </li>
            </ul>

        </div>
    </div>

    <div class="pure-g-r">
        <div class="pure-u-1">
            Last updated: {{ now }}
        </div>
    </div>

</div>